{% extends "base.html" %}

{% block content %}
    <main class="main main--content">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a href="mailto:lfalonsoc@gmail.com" class="contact__link">
                        lfalonsoc [at] gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>LinkedIn:</dt>
                <dd class="contact__details">
                    <a href="https://linkedin.com/in/lfalonsoc" class="contact__link">
                        lfalonsoc
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>GitHub:</dt>
                <dd class="contact__details">
                    <a href="https://github.com/lfalonsoc" class="contact__link">
                        @lfalonsoc
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}